/* styly pre index */
body {
	// padding-top: 50px;
}
.chord {
	font-weight: bold;
	vertical-align: super;
	font-size: 1.5rem;
}
.song-name {
	cursor: pointer;
}

.autoscroll {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	&-up, &-down, &-clear {
		text-align: center;
	}
	&-button {
		opacity: 0;
	}
}

.transposition {
	margin-top: 20px;
	margin-left: 10px;
}